// 导入scss文件
@import '_var';



//边框样式
$border:2px solid #E7E7E7;
//高亮颜色
$highColor:#D93732;
//字体颜色
$color:#333333;


.header{
	height:96px;
	.container{
		position:relative;
	}
	
	.logo{
		/*主页的logo部分*/
		width:56px;
		height:56px;
		border-radius:50%;
		position:absolute;
		left:0;
		top:50%;
		transform:translateY(-50%);
		background-color:#D93732;
		overflow:hidden;
		.logo_a{
			background-color:#D93732;
			width:100px;
			position:absolute;
			left:5px;
			top:8px;
			padding:5px 0;
			img{
				float:left;
				margin:0 3px;
				width:38px;
				height:28px;
			}
		}
		//background:url(img/header.fw.png);
	}
	.dh{/*一级导航条-----*/
		padding-left:70px;
		height:96px;
		>li{
			padding:38px 22px;
			float:left;
			height:100%;
			a{
				font-size:20px;
				color:$color;
				&:hover{
					color:$highColor;
				}
			}
		}
		//一级导航的第一个li
		.dhli01{
			width:134px;
			&:hover{
				background-color:#FFF9AA;
			/*hover在第一个li时出现二级导航*/
				.erjidh{
					display:block;
				}
			}
		}
		.dhli01 .erjidh{
			padding-top:32px;
			margin-left:-22px;
			width:134px;
			position:relative;
			z-index:1;
			display:none;
			>li{
				border-bottom:$border;
				background-color:#FFF9AA;
				width:100%;
			}
			>li>a{
				display:block;
				height:46px;
				line-height:46px;
				text-align:center;
				color:#333333;
				font-size:14px;
				&:hover{
					color:$highColor;
				}
			}
		}

		//一级导航的第二个li
		.dhli02{
			//送礼导航条
			div.sldh{
				position:absolute;
				background:#fff;
				z-index:1;
				display:none;
				height:212px;
				top:96px;
				padding-top:46px;
				.towho{
					height:30px;
					width:738px;
					border-bottom:1px solid #EDEDED;
				}
				p>span{
					padding:0 12px;
					display:inline-block;
					font-size:14px;
					>a{
						display:block;
						font-size:14px;
						height:14px;
						line-height:14px;
						color:#333333;
					}
				}
				.towhy{
					height:30px;
					padding-top:18px;
					
				}
				i.search{
					display:block;
					position:absolute;
					left:835px;
					top:152px;
					
					>a{
						display:block;
						height:40px;
						width:90px;
						line-height:40px;
						font-size:12px;
						text-align:center;
						color:#F5F2F2;
						background-color:#D93732;
						border-radius:2px;
					}
				}

			}
		}

	}


	

	/*右侧的搜索框与图表（购物车与登录）*/
	.header_r{
		width:480px;
		height:96px;
		padding-top:38px;
		padding-left:72px;
		position:relative;
		.search{
			width:240px;
			height:32px;
			border:$border;
			border-radius:16px;
			position:relative;
			input{
				border:none;
				outline:none;
				margin-left:5px;
				padding-left:15px;
				font-size:12px;
				line-height:22px;
			}
			>a{
				display:block;
				position:absolute;
				right:12px;
				top:2px;
				width:16px;
				height:23px;
				background: url(img/header06.png) no-repeat;
			}
		}

		.signCar{
			//购物车与登录图标公共样式
			width:100px;
			.sec{
				position:relative;
				.jt{
					width:0;
					height:0;
					border:10px solid transparent;
					
					position:absolute;
					
					right:30px;

				}
				.jt1{
					border-bottom-color:#ccc;
					top:-20px;
				}
				.jt2{
					border-bottom-color:#fff;
					top:-19px;
				}
			}
			.circle{
				width:32px;
				height:32px;
				border:$border;
				&:hover{
					border-color:$highColor;
				}
				border-radius:50%;
				margin:0 5px;
				position:relative;
				overflow:hidden;

				
				.tubiao{
					position:absolute;
					left:5px;
					top:6px;
					a>img{
						display:block;
					}
					>li:last-child{
						margin-top:8px;
					}
				}
			}

			//购物车的样式
			.car{
				
				.carList{
					width:360px;
					min-height:100px;
					padding:30px;
					border:1px solid #E7E7E7;
					position:absolute;
					right:0px;
					top:46px;
					display:none;
					.jt{
						right:14px;
					}
					ul{
						li{
							height:80px;
							border-bottom:1px solid #E7E7E7;
							img{
								width:70px;
								height:70px;
								float:left;
							}
							p{
								font-size:12px;
								height:20px;
								line-height:16px;
								color:$color;
							}
							.mdl{
								padding-top:8px;
							}
							.rig{
								p{
									text-align:right;
								}
								a{
									color:$color;
								}
							}

						}
					}
					.js_box{
						padding-top:20px;
						p{
							font-size:12px;
							height:20px;
							line-height:16px;
							color:$color;
							i{
								color:$highColor;
								font-size:14px;
							}
						}
						a{
							float:right;
							width:120px;
							height:34px;
							text-align:center;
							line-height:34px;
							color:#fff;
							background:$highColor;
							font-size:12px;
							border-radius:5px;
						}
					}
				}
				span.num{
					position:absolute;
					width:15px;
					height:15px;
					border-radius:50%;
					left:24px;
					top:-4px;
					background-color:$highColor;
					font-size:12px;
					text-align:center;
					line-height:15px;
					color:#fff;
					display:none;
				}
			}

			//登录样式
			.sign{
				position:relative;

				.dl{
					width:154px;
					padding-top:30px;
					border:1px solid #E7E7E7;
					position:absolute;
					top:46px;
					left:-90px;
					display:none;
					p{
						height:30px;
						text-align:center;
						line-height:16px;
						a{
							color:$color;
							font-size:14px;

						}
					}

				}
			}
			

		}
	}
}



