// 导入scss文件
@import '_var';



//导航（包括二级导航、banner图、公告）
.nav{
    .nav2{
        float:left;
        width: 220px;
        height: 400px;
        display:none;
        // li:hover .nav3{
        //     display:block;
        // }
    }
    .banner{
        float:left;
        margin-left:220px;
        width: 738px;
        height: 400px;
    }
    .notice{
        width: 222px;
        height: 400px;
        float: right;
        border:10px solid rgba(0,0,0,0.3);
		.notice_top{
			width: 200px;
			height: 220px;
			span{
				display: inline-block;
			    width: 100%;
			    height: 40px;
			    line-height: 40px;
			    border-top: 2px solid #e0e0e0;
    			h4{
    				display:inline-block;
    				color: #fff;
				    font-size: 14px;
				    font-weight: bold;
				    background: blue;
				    width: 84px;
				    height: 30px;
				    text-align: center;
				    line-height: 30px;
				    margin-left: 15px;
				    margin-top: -5px;
    				}
			}
		}
		.notice_bottom{
			border-top:1px solid #ccc;
			// z-index: -100;
			img{
				height: 160px;
			}
		}
    }
}


//底部
footer{
    background-color: #616161;
    border-top: 1px solid #e3e3e3;
    padding: 30px 0;
    margin-top: 30px;
    overflow: hidden;
    .footer-nav{
    	height: 106px;
    	width: 1200px;
	    clear: both;
	    overflow: hidden;
	    dl{
	    	float:left;
		    width: 200px;
		    dt{
		    	color: #e0e0e0;
			    font-size: 14px;
			    height: 30px;
			    line-height: 30px;
			    margin-bottom: 2px;
			    padding: 0 8px;
			    font-weight: bold;

				}
			dd{
				font-size: 14px;
				height: 24px;
				line-height: 24px;
				padding: 0 8px;
				background-position: -60px 9px;
				// font-weight: lighter;
				color: #e0e0e0;
				:hover{
					color:red;
				}
				a{
				    display:block;
				    color:#e0e0e0;
				    }
		    }
	    }
    }
    .p1{
    	a{
    		color: #686868;
    		font-size:12px;
    		padding:0 2px 0 2px;
    		border-right:1px solid #ddd;
    	}
    	:hover{
    		color:red;
    	}
    }
    .p2{
    	color: #8d8d8d;
    	font-weight: lighter;
    	font-size:12px;
    }
}



