// 导入scss文件
@import '_var';


//边框样式
$border:2px solid #E7E7E7;
.header{
	height:96px;
	.container{
		position:relative;
	}
	
	.logo{
		/*主页的logo部分*/
		width:56px;
		height:56px;
		border-radius:50%;
		position:absolute;
		left:0;
		top:50%;
		transform:translateY(-50%);
		background-color:#D93732;
		overflow:hidden;
		.logo_a{
			background-color:#D93732;
			width:100px;
			position:absolute;
			left:5px;
			top:8px;
			padding:5px 0;
			img{
				float:left;
				margin:0 3px;
				width:38px;
				height:28px;
			}
		}
		//background:url(img/header.fw.png);
	}
	.dh{/*一级导航条-----*/
		padding-left:70px;
		height:96px;
		>li{
			padding:38px 22px;
			float:left;
			height:100%;
			a{
				font-size:20px;
				color:$color;
				&:hover{
					color:$highColor;
				}
			}
		}
		//一级导航的第一个li
		.dhli01{
			width:134px;
			&:hover{
				background-color:#FFF9AA;
			/*hover在第一个li时出现二级导航*/
				.erjidh{
					display:block;
				}
			}
		}
		.dhli01 .erjidh{
			padding-top:32px;
			margin-left:-22px;
			width:134px;
			display:none;
			>li{
				border-bottom:$border;
				background-color:#FFF9AA;
				width:100%;
			}
			>li>a{
				display:block;
				height:46px;
				line-height:46px;
				text-align:center;
				color:#333333;
				font-size:14px;
				&:hover{
					color:$highColor;
				}
			}
		}

		//一级导航的第二个li

	}
	/*右侧的搜索框与图表（购物车与登录）*/
	.header_r{
		width:480px;
		height:96px;
		padding-top:38px;
		padding-left:72px;
		position:relative;
		.search{
			width:240px;
			height:32px;
			border:$border;
			border-radius:16px;
			position:relative;
			input{
				border:none;
			}
			>a{
				display:block;
				position:absolute;
				right:12px;
				top:2px;
				width:16px;
				height:23px;
				background: url(img/header06.png) no-repeat;
			}
		}

		.signCar{
			//购物车与登录图标公共样式
			width:100px;
			.circle{
				width:32px;
				height:32px;
				border:$border;
				border-radius:50%;
				margin:0 5px;
				position:relative;
				overflow:hidden;
				.tubiao{
					position:absolute;
					left:5px;
					top:6px;
					>li:last-child{
						margin-top:8px;
					}
				}
			}

		}
	}
}

//底部部分
.footer{
	height:560px;
	.footer01{
		height:200px;
		ul.clearfix{
			padding:58px 0px;
			>li{
				width:300px;
				border-right:$border;
				float:left;
				img{
					display:block;
					margin:0 auto;
				}
				.gzwm{
					font-size:18px;
					color:#color;
					height:28px;
					line-height:38px;
					padding-left:56px;
				}
				
			}
			>li:last-child{
				border:none;
				padding-left:54px;
				h3{
					height:30px;
					font-size:20px;
				}
				.time{
					padding-left:6px;
					height:14px;
					font-size:12px;
				}
				.chat{
					height:30px;
					border-radius:15px;
					border:$border;
					margin-top:10px;
					width:148px;
					&:hover{
						border:2px solid $highColor;
					}
					a{
						display:block;
						height:30px;
						line-height:26px;
						width:100%;
						text-align:center;
						color:$color;
						font-size:12px;
					}
				}
			}

		}

	}
	.footer02{
		height:360px;
		background-color:#484442;
		.footer02_t{
			height:142px;
			border-bottom:2px solid #666666;
			>ul>li{
				float:left;
				position:relative;
				width:320px;
				.secu{
					padding-left:30px;
					height:142px;
					line-height:142px;
					text-align:center;
					color:#E7E7E7;
					font-size:22px;
				}
				.secu03{
					padding-left:10px;
				}
				>i{
					display:block;
					position:absolute;
					width:56px;
					height:56px;
					left:30px;
					top:50%;
					transform:$translateY;
					background:url(img/footer.fw.png) no-repeat;

				}
			}
			>ul .last{
				width:240px;
				.la{
					padding-left:10px;
				}
				.lasti{
					left:-16px;
				}
			}
		}
		.footer02_m{
			height:102px;
			border-bottom:2px solid #666666;
		}
		.footer02_b{
			height:114px;
		}
	}
}