// 导入scss文件
@import '_var';

//背景颜色
$bgc:#F5F5F5;
//全局字体颜色
$color:#333333;
//全局字体大小
$fsize:12px;
$highColor:#D93732;


.main{
	height:768px;
	width:100%;
	position:relative;
	background:url(img/login_bg.jpg) no-repeat;
	.lg{
		width:560px;
		height:590px;
		background-color:#fff;
		position:absolute;
		right:168px;
		top:110px;
		padding:65px 86px;
		h1{
			height:56px;
			font-size:30px;
			i,a{
				font-size:16px;
				float:right;
				line-height:32px;
				font-weight:normal;
			}
			>i{
				color:$color;
			}
			>a{
				color:#DAA550;
			}
		}
		.lg_in{
			height:62px;
			width:100%;
			input{
				height:40px;
				width:100%;
				border:1px solid $bgc;
				padding-left:10px;
				font-size:14px;
				line-height:38px;
				color:$color;
			}
			p{
				font-size:14px;
				padding-left:10px;
				line-height:22px;
				height:22px;
				color:$highColor;
			}
		}

		.lg_bt{
			width:100%;
			padding-bottom:30px;
			a{
				width:100%;
				height:50px;
				display:block;
				color:#fff;
				font-size:14px;
				line-height:50px;
				text-align:center;
				background-color:$highColor;
			}
		}
		.lg_md{
			font-size:14px;
			color:$color;
			>a{
				float:right;
			}
		}
		.lg_qt{
			.hed{
				height:70px;
				position:relative;
				font-size:16px;
				color:#A599B2;
				text-align:center;
				line-height:70px;
				i{
					display:block;
					width:130px;
					height:8px;
					position:absolute;
					top:50%;
					transform:translateY(-50%);
					background:url(img/login01.png) no-repeat;
				}
				i:first-child{
					left:0;
				}
				i:last-child{
					right:0;
				}
			}
			ul{
				margin:5px auto;
				width:315px;
				li{
					width:105px;
					float:left;
					
					.mov{
						position:relative;
						width:35px;
						height:35px;
						border-radius:50%;
						margin:0 auto;
						overflow:hidden;
						&:hover{
							.bg{
								top:0px;
								
							}
						}
						a{
							display:block;
							width:35px;
							height:35px;
							border-radius:50%;
							background:url(img/login02.png) no-repeat 7px 5px;
							background-color:#898989;
							
						}
						a.bg{
							position:absolute;
							top:-35px;
							margin-bottom:35px;
							left:50%;
							transform:translateX(-50%);
							background-color:$highColor;
							
							transition: top 0.3s;
						}
					}
					
					p{
						font-size:14px;
						color:#898989;
						text-align:center;
						height:22px;
						line-height:20px;
					}
				}
			}
		}
	}
}