// 导入scss文件
@import '_var';


//头部
header{
	// display:inline-block;
	margin-top:36px;
	padding-bottom:15px;
	border-bottom: 2px solid #fe5722;
	.header_t{
		display:inline-block;
		width: 1100px;
		height: 66px;
		.header_tl{
			// display:inline-block;
			border-right:1px solid #ccc;
			float: left;
			height: 66px;
			a{
				display:inline-block;
				width: 224px;
			}
		}
		.header_tr{
			float: left;
			font-size: 24px;
		    padding-left: 25px;
		    overflow: hidden;
		    color:#585858;
		}
	}
	// .header_b{
	// 	height: 45px;
	// 	font-size: 16px;
	//     text-align: right;
	//     color: #707070;
	// }
}

//main
.main{
	position:relative;
	img{
		width: 100%;
		
	}
	.login{
		position:absolute;
		right:100px;
		top:40px;
		width: 355px;
	    height: 380px;
	    background: #FFF;
	    padding: 15px 25px;
	    // padding-left: 28px;
	    .info1{
	    	span{
	    		color: #313131;
			    font-size: 18px;
			    padding-bottom: 18px;
	    	}
	    	a{
	    		color: #268bf3;
			    font-size: 14px;
			    float:right;
	    	}
	    }
	    .info1,.info2, .info3, .info6{
	    	width: 305px;
	    	height: 42px;
	    	line-height: 28px;
    		margin-bottom:17px;
    		padding-left:5px;
	    }
	    .info5{
	    	font-size:12px;
	    	a{
	    		float: right;
	    	}
	    }
	    .info6{
		    display:block;
		    background: #FF5500;
		    border:0 none;
		    font-size:20px;
		    height: 42px;
		    line-height: 42px;
		    color:#fff;
		    text-align:center;
	    }
	    p{
	    	display: block;
		    font-size: 12px;
		    margin-top: 15px;
		    color: #acacac;
	    }
	    i{
	    	display:block;
	    	position:absolute;
	    	right:300px;
	    	bottom:50px;
	    	width: 30px;
	    	height: 30px;
	    	background: url(../css/img/index.fw.png) no-repeat -200px 0;

	    }
	}
}
//底部
footer{
    // background-color: #616161;
    // border-top: 1px solid #e3e3e3;
    padding: 30px 0;
    margin-top: 30px;
    overflow: hidden;
   	.p3{
   		line-height: 35px;
	    text-align: center;
	    // color: #8d8d8d;
	    font-size:12px;
	    a{
	    	color: #8d8d8d;

	    	display:inline-block;
	    	margin:13px;
	    	border-right:1px solid #ddd;
	    }
    	:hover a{
    		color: #ff5722;
    	}
   	}
    .p1{
    	a{
    		color: #686868;
    		font-size:12px;
    		padding:0 2px 0 2px;
    		border-right:1px solid #ddd;
    	}
    	:hover{
    		color:red;
    	}
    }
    .p2{
    	color: #8d8d8d;
    	font-weight: lighter;
    	font-size:12px;
    }
}
