.header {
  color: #000;
  font-size: 13px;
  line-height: 40px;
}

.header .header_t {
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.header .header_t .header_tl {
  width: 143px;
  height: 40px;
}

.header .header_t .header_tr {
  width: 232px;
  height: 40px;
}

.header .header_t .header_tr .top_r {
  width: 232px;
  height: 40px;
  color: #959595;
}

.header .header_t .header_tr .top_r li {
  float: left;
  position: relative;
  margin-right: 15px;
  width: 43px;
  height: 40px;
}

.header .header_t .header_tr .top_r li i {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  top: 5px;
  background: url(../css/img/index.fw.png) no-repeat;
}

.header .header_b .header_bt .header_btl {
  width: 220px;
  height: 103px;
  float: left;
}

.header .header_b .header_bt .header_btl a img {
  margin-top: 15px;
  margin-bottom: 28px;
  width: 200px;
  height: 60px;
  overflow: hidden;
  display: block;
}

.header .header_b .header_bt .header_btr .cart_step {
  width: 491px;
  overflow: hidden;
  float: right;
  position: relative;
}

.header .header_b .header_bt .header_btr .cart_step i {
  position: absolute;
  left: 0;
  top: 0;
  width: 490px;
  height: 26px;
  background: url(../css/img/index.fw.png) no-repeat -5px -50px;
}

.header .header_b .header_bt .header_btr .cart_step li {
  float: left;
  width: 163px;
  height: 103px;
  line-height: 103px;
  font-size: 12px;
  text-align: center;
  color: #ff561a;
}

.header .header_b .header_bt .header_btr .cart_step li:nth-child(3), .header .header_b .header_bt .header_btr .cart_step li:nth-child(4) {
  color: #AAAAAA;
}

.main .main_top_l {
  height: 45px;
  line-height: 45px;
  background-color: #f1f1f1;
  padding: 0 10px;
}

.main .main_top_l div {
  margin-left: 10px;
  color: #585552;
  font-size: 12px;
  width: 200px;
}

.main .main_top_r {
  height: 58px;
  line-height: 58px;
  padding: 0 10px;
}

.main .main_top_r span {
  font-size: 12px;
  margin-left: 20px;
}

.main i {
  display: block;
  height: 3px;
  background: #E0E0E0;
}

.main .main_con {
  height: 138px;
  border: 1px solid #ccc;
  border-top: 3px solid #FFD1C0;
  margin-bottom: 96px;
  vertical-align: middle;
}

.main .main_con .checkbox {
  width: 30px;
  position: relative;
}

.main .main_con .checkbox input {
  position: absolute;
  top: 20px;
  left: 12px;
  margin-left: 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.main .main_con .info1 {
  width: 502px;
  display: inline-block;
  text-align: center;
  margin-top: 19px;
  margin-left: 47px;
}

.main .main_con .info1 a {
  color: #585552;
  font-size: 12px;
  float: left;
  margin-left: 10px;
}

.main .main_con .info1 a img {
  border: 1px solid #ccc;
}

.main .main_con .info1 span {
  display: block;
  margin-left: 122px;
  text-align: left;
  font-size: 12px;
}

.main .main_con .info2 {
  float: right;
  height: 138px;
  font-size: 12px;
  line-height: 138px;
}

.main .main_con .info2 ul {
  padding-right: 30px;
}

.main .main_con .info2 ul li {
  float: left;
  margin-left: 70px;
}

.main .main_con .info2 ul li input {
  width: 55px;
  height: 20px;
}

.main .main_con .info2 ul li span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  margin-top: 49px;
}

.main .main_bottom {
  height: 50px;
  line-height: 50px;
  border: 1px solid #dcdcdc;
  margin-top: 25px;
  font-size: 12px;
  background: #fafafa;
  margin: 25px 0;
}

.main .main_bottom > a {
  margin-left: 20px;
  color: #686868;
}

.main .main_bottom > a:hover {
  color: red;
}

.main .main_bottom .main_bottom_r span {
  color: #686868;
  margin: 0 20px;
}

.main .main_bottom .main_bottom_r span em, .main .main_bottom .main_bottom_r span b {
  font-style: normal;
  color: red;
}

.main .main_bottom .main_bottom_r span b {
  font-size: 18px;
}

.main .main_bottom .main_bottom_r button {
  display: block;
  font-size: 16px;
  text-align: center;
  background: #ff561a;
  border: 0px;
  font-weight: bold;
  width: 120px;
  height: 50px;
}

.main .main_bottom .main_bottom_r button a {
  color: #FFF;
}

footer {
  background-color: #f1f1f1;
  border-top: 1px solid #e3e3e3;
  padding: 30px 0;
  margin-top: 30px;
  overflow: hidden;
}

footer .footer-nav {
  height: 106px;
  width: 1200px;
  clear: both;
  overflow: hidden;
}

footer .footer-nav dl {
  float: left;
  width: 200px;
}

footer .footer-nav dl dt {
  color: #e0e0e0;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 2px;
  padding: 0 8px;
  font-weight: bold;
}

footer .footer-nav dl dd {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  background-position: -60px 9px;
  color: #e0e0e0;
}

footer .footer-nav dl dd :hover {
  color: red;
}

footer .footer-nav dl dd a {
  display: block;
  color: #e0e0e0;
}

footer .p1 a {
  color: #686868;
  font-size: 12px;
  padding: 0 2px 0 2px;
  border-right: 1px solid #ddd;
}

footer .p1 :hover {
  color: red;
}

footer .p2 {
  color: #8d8d8d;
  font-weight: lighter;
  font-size: 12px;
}
