.nav .nav2 {
  float: left;
  width: 220px;
  height: 400px;
  display: none;
}

.nav .banner {
  float: left;
  margin-left: 220px;
  width: 738px;
  height: 400px;
}

.nav .notice {
  width: 222px;
  height: 400px;
  float: right;
  border: 10px solid rgba(0, 0, 0, 0.3);
}

.nav .notice .notice_top {
  width: 200px;
  height: 220px;
}

.nav .notice .notice_top span {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-top: 2px solid #e0e0e0;
}

.nav .notice .notice_top span h4 {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  background: blue;
  width: 84px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-left: 15px;
  margin-top: -5px;
}

.nav .notice .notice_bottom {
  border-top: 1px solid #ccc;
}

.nav .notice .notice_bottom img {
  height: 160px;
}

footer {
  background-color: #616161;
  border-top: 1px solid #e3e3e3;
  padding: 30px 0;
  margin-top: 30px;
  overflow: hidden;
}

footer .footer-nav {
  height: 106px;
  width: 1200px;
  clear: both;
  overflow: hidden;
}

footer .footer-nav dl {
  float: left;
  width: 200px;
}

footer .footer-nav dl dt {
  color: #e0e0e0;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 2px;
  padding: 0 8px;
  font-weight: bold;
}

footer .footer-nav dl dd {
  font-size: 14px;
  height: 24px;
  line-height: 24px;
  padding: 0 8px;
  background-position: -60px 9px;
  color: #e0e0e0;
}

footer .footer-nav dl dd :hover {
  color: red;
}

footer .footer-nav dl dd a {
  display: block;
  color: #e0e0e0;
}

footer .p1 a {
  color: #686868;
  font-size: 12px;
  padding: 0 2px 0 2px;
  border-right: 1px solid #ddd;
}

footer .p1 :hover {
  color: red;
}

footer .p2 {
  color: #8d8d8d;
  font-weight: lighter;
  font-size: 12px;
}
