.hty {
  background-color: #F5F5F5;
  height: 62px;
  width: 100%;
  padding-top: 24px;
}

.hty .hty_l {
  float: left;
}

.hty .hty_l > a {
  display: inline-block;
  height: 16px;
  font-size: 12px;
  color: #333333;
}

.hty .hty_r {
  width: 380px;
}

.hty .hty_r h5, .hty .hty_r a {
  display: inline-block;
  font-size: 12px;
  color: #333333;
}

.hty .hty_r h5 {
  font-weight: normal;
  line-height: 25px;
  height: 20px;
}

.hty .hty_r a {
  margin-left: 10px;
  width: 92px;
  height: 24px;
  line-height: 20px;
  border: 2px solid #A8A8A7;
  border-radius: 12px;
  text-align: center;
}

.hty .hty_r a:hover {
  border-color: #D93732;
}

.nav .container .sort {
  border-bottom: 1px solid #F5F5F5;
  width: 100%;
  padding-left: 12px;
  padding-top: 30px;
  height: 70px;
}

.nav .container .sort > span, .nav .container .sort > a {
  display: inline-block;
  padding: 0 13px;
  font-size: 14px;
  color: #333333;
}

.nav .container div.last {
  border-bottom: 0;
}

.main {
  background-color: #F5F5F5;
}

.main .goodsPri {
  height: 110px;
  padding: 52px 0 42px;
}

.main .goodsPri > a {
  display: inline-block;
  height: 16px;
  font-size: 14px;
  border-right: 1px solid #F5F5F5;
  padding: 0 20px;
  color: #333333;
}

.main .goodsPri > a:hover {
  color: #D93732;
}

.main .goodsPri .active {
  color: #D93732;
}

.main .goodsPri a.last {
  border-right: 0;
}

.main ul.goods {
  width: 100%;
}

.main ul.goods li {
  float: left;
  width: 23.8%;
  height: 387px;
  padding: 1%;
  margin-right: 1.6%;
  margin-bottom: 1.6%;
  background-color: #fff;
  border: 2px solid #F5F5F5;
}

.main ul.goods li:hover {
  border-color: #D93732;
}

.main ul.goods li a.imgA {
  display: block;
  height: 240px;
}

.main ul.goods li a.imgA img {
  display: block;
  width: 84%;
  height: 100%;
  margin: 0 auto;
}

.main ul.goods li p {
  height: 26px;
  font-size: 14px;
  color: #333333;
  padding-left: 18px;
}

.main ul.goods li div.bot {
  height: 40px;
  padding-top: 10px;
  padding-left: 18px;
}

.main ul.goods li div.bot > a {
  display: inline-block;
  width: 50px;
  height: 20px;
  border: 1px solid #6E6E6E;
  border-radius: 4px;
  color: #333333;
  line-height: 18px;
  font-size: 14px;
  text-align: center;
}

.main ul.goods li div.bot span.comment {
  display: inline-block;
  font-size: 12px;
  width: 80px;
}

.main ul.goods li div.bot span.comment i {
  color: #D93732;
}

.main ul.goods li.last {
  margin-right: 0;
}

.main .page span {
  display: inline-block;
  margin: 5px;
  width: 40px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #333333;
  background-color: #F5F5F5;
}

.main .page span.active {
  background-color: #fc0;
  color: #fff;
}
