header {
  margin-top: 36px;
  padding-bottom: 15px;
  border-bottom: 2px solid #fe5722;
}

header .header_t {
  display: inline-block;
  width: 1100px;
  height: 66px;
}

header .header_t .header_tl {
  border-right: 1px solid #ccc;
  float: left;
  height: 66px;
}

header .header_t .header_tl a {
  display: inline-block;
  width: 224px;
}

header .header_t .header_tr {
  float: left;
  font-size: 24px;
  padding-left: 25px;
  overflow: hidden;
  color: #585858;
}

.main {
  position: relative;
}

.main img {
  width: 100%;
}

.main .login {
  position: absolute;
  right: 100px;
  top: 40px;
  width: 355px;
  height: 380px;
  background: #FFF;
  padding: 15px 25px;
}

.main .login .info1 span {
  color: #313131;
  font-size: 18px;
  padding-bottom: 18px;
}

.main .login .info1 a {
  color: #268bf3;
  font-size: 14px;
  float: right;
}

.main .login .info1, .main .login .info2, .main .login .info3, .main .login .info6 {
  width: 305px;
  height: 42px;
  line-height: 28px;
  margin-bottom: 17px;
  padding-left: 5px;
}

.main .login .info5 {
  font-size: 12px;
}

.main .login .info5 a {
  float: right;
}

.main .login .info6 {
  display: block;
  background: #FF5500;
  border: 0 none;
  font-size: 20px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-align: center;
}

.main .login p {
  display: block;
  font-size: 12px;
  margin-top: 15px;
  color: #acacac;
}

.main .login i {
  display: block;
  position: absolute;
  right: 300px;
  bottom: 50px;
  width: 30px;
  height: 30px;
  background: url(../css/img/index.fw.png) no-repeat -200px 0;
}

footer {
  padding: 30px 0;
  margin-top: 30px;
  overflow: hidden;
}

footer .p3 {
  line-height: 35px;
  text-align: center;
  font-size: 12px;
}

footer .p3 a {
  color: #8d8d8d;
  display: inline-block;
  margin: 13px;
  border-right: 1px solid #ddd;
}

footer .p3 :hover a {
  color: #ff5722;
}

footer .p1 a {
  color: #686868;
  font-size: 12px;
  padding: 0 2px 0 2px;
  border-right: 1px solid #ddd;
}

footer .p1 :hover {
  color: red;
}

footer .p2 {
  color: #8d8d8d;
  font-weight: lighter;
  font-size: 12px;
}
