.main {
  height: 768px;
  width: 100%;
  position: relative;
  background: url(img/login_bg.jpg) no-repeat;
}

.main .lg {
  width: 560px;
  height: 590px;
  background-color: #fff;
  position: absolute;
  right: 168px;
  top: 110px;
  padding: 65px 86px;
}

.main .lg h1 {
  height: 56px;
  font-size: 30px;
}

.main .lg h1 i, .main .lg h1 a {
  font-size: 16px;
  float: right;
  line-height: 32px;
  font-weight: normal;
}

.main .lg h1 > i {
  color: #333333;
}

.main .lg h1 > a {
  color: #DAA550;
}

.main .lg .lg_in {
  height: 62px;
  width: 100%;
}

.main .lg .lg_in input {
  height: 40px;
  width: 100%;
  border: 1px solid #F5F5F5;
  padding-left: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #333333;
}

.main .lg .lg_in p {
  font-size: 14px;
  padding-left: 10px;
  line-height: 22px;
  height: 22px;
  color: #D93732;
}

.main .lg .lg_bt {
  width: 100%;
  padding-bottom: 30px;
}

.main .lg .lg_bt a {
  width: 100%;
  height: 50px;
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 50px;
  text-align: center;
  background-color: #D93732;
}

.main .lg .lg_md {
  font-size: 14px;
  color: #333333;
}

.main .lg .lg_md > a {
  float: right;
}

.main .lg .lg_qt .hed {
  height: 70px;
  position: relative;
  font-size: 16px;
  color: #A599B2;
  text-align: center;
  line-height: 70px;
}

.main .lg .lg_qt .hed i {
  display: block;
  width: 130px;
  height: 8px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url(img/login01.png) no-repeat;
}

.main .lg .lg_qt .hed i:first-child {
  left: 0;
}

.main .lg .lg_qt .hed i:last-child {
  right: 0;
}

.main .lg .lg_qt ul {
  margin: 5px auto;
  width: 315px;
}

.main .lg .lg_qt ul li {
  width: 105px;
  float: left;
}

.main .lg .lg_qt ul li .mov {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
}

.main .lg .lg_qt ul li .mov:hover .bg {
  top: 0px;
}

.main .lg .lg_qt ul li .mov a {
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: url(img/login02.png) no-repeat 7px 5px;
  background-color: #898989;
}

.main .lg .lg_qt ul li .mov a.bg {
  position: absolute;
  top: -35px;
  margin-bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #D93732;
  transition: top 0.3s;
}

.main .lg .lg_qt ul li p {
  font-size: 14px;
  color: #898989;
  text-align: center;
  height: 22px;
  line-height: 20px;
}
