.main {
  height: 768px;
  width: 100%;
  position: relative;
  background: url(img/login_bg.jpg) no-repeat;
}

.main .lg {
  width: 560px;
  height: 590px;
  background-color: #fff;
  position: absolute;
  right: 168px;
  top: 110px;
  padding: 65px 86px;
}

.main .lg h1 {
  height: 56px;
  font-size: 30px;
}

.main .lg h1 i, .main .lg h1 a {
  font-size: 16px;
  float: right;
  line-height: 32px;
  font-weight: normal;
}

.main .lg h1 > i {
  color: #333333;
}

.main .lg h1 > a {
  color: #DAA550;
}

.main .lg .lg_in {
  height: 62px;
  width: 100%;
}

.main .lg .lg_in input {
  height: 40px;
  width: 100%;
  border: 1px solid #F5F5F5;
  padding-left: 10px;
  font-size: 14px;
  line-height: 38px;
  color: #333333;
}

.main .lg .lg_in p {
  font-size: 14px;
  padding-left: 10px;
  line-height: 22px;
  height: 22px;
  color: #D93732;
}
