header {
  margin-top: 36px;
  border-bottom: 2px solid #fe5722;
}

header .header_t {
  display: inline-block;
  width: 1100px;
  height: 66px;
}

header .header_t .header_tl {
  border-right: 1px solid #ccc;
  float: left;
  height: 66px;
}

header .header_t .header_tl a {
  display: inline-block;
  width: 224px;
}

header .header_t .header_tr {
  float: left;
  font-size: 24px;
  padding-left: 25px;
  overflow: hidden;
  color: #585858;
}

header .header_b {
  height: 45px;
  font-size: 16px;
  text-align: right;
  color: #707070;
}

.main .reg {
  width: 880px;
  height: 602px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 70px;
}

.main .reg label, .main .reg .birthday span {
  display: inline-block;
  width: 100px;
  height: 42px;
  color: #A4A4A4;
  text-align: right;
  margin-right: 10px;
}

.main .reg .gender {
  color: #A4A4A4;
}

.main .reg .gender span {
  display: inline-block;
  width: 100px;
  height: 42px;
  line-height: 42px;
  text-align: right;
  margin-right: 5px;
}

.main .reg .gender input {
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.main .reg input {
  width: 270px;
  height: 40px;
  padding-left: 10px;
}

.main .reg .checkbox {
  width: 13px;
  height: 13px;
  margin-left: 110px;
}

.main .reg .submit {
  margin-left: 110px;
  background: #FE5722;
}

.main .reg p span a {
  color: red;
}

footer {
  padding: 30px 0;
  margin-top: 30px;
  overflow: hidden;
}

footer .p3 {
  line-height: 35px;
  text-align: center;
  font-size: 12px;
}

footer .p3 a {
  color: #8d8d8d;
  display: inline-block;
  margin: 13px;
  border-right: 1px solid #ddd;
}

footer .p3 :hover a {
  color: #ff5722;
}

footer .p1 a {
  color: #686868;
  font-size: 12px;
  padding: 0 2px 0 2px;
  border-right: 1px solid #ddd;
}

footer .p1 :hover {
  color: red;
}

footer .p2 {
  color: #8d8d8d;
  font-weight: lighter;
  font-size: 12px;
}
